<header>
	<div class="masthead text-center">
		<a class="navbar-brand" href="/">
			<img src="{{ asset('img/naxagoras.png') }}" width="100%" class="d-inline-block align-top mx-3"
				alt="Naxagoras-Technology'">
		</a>
	</div>
	<!-- La barre de navigation -->
	<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light z-depth-2 mb-5">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mx-auto">
				<li class="nav-item mx-1 active">
					<a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
				</li>
				{% if menu|length > 0 %}
				{% for onglet in menu %}
				{% if onglet|length > 0 and onglet|length == 2 %}
				<li class="nav-item mx-1 disabled">
					<div class="nav-link">{{ onglet.nom }}</div>
				</li>
				{% else %}
				<li class="nav-item mx-1 dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						{{ onglet.nom }}
					</a>
					<ul class="dropdown-menu">
						{% for rubrique in onglet %}
						{% if loop.index >= 3 %}
						{% if rubrique|length > 0 and rubrique|length == 2 %}
						<li class="nav-item">
							<a class="nav-link" href="{{ rubrique.rubrique.route }}">{{ rubrique.rubrique.nom }}</a>
						</li>
						
						{% else %}
						<li class="dropdown-submenu">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="nav-label"></span><span class="caret"></span></a>
						</li>
						
						{% for categorie in rubrique %}
							{% if loop.index >= 3 %}
							<li class="nav-item">
								<a class="nav-link" href=""></a>
							</li>
							{% endif %}
						{% endfor %}



						{% endif %}
						
						{% endif %}
						{% endfor %}
				{% endif %}
				{% endfor %}
				{% endif %}
			</ul>
		</div>
		</li>
		</ul>
		</div>
	</nav>
	{{ dump(menu) }}
	{{ dump(rubriques) }}
</header>